body{
    background-image: url('./background-img.webp');
    background-repeat: no-repeat;
    background-size: cover;
}

#weather-card{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.788);
    height: auto;
    width:max-content;
    margin: 25px;
    justify-self: center;
}

.data{
    padding: 8px;
    color: white;
    display: block;
}

#high-min,#desc{
    display: inline-block;
    padding-top: 15px;
}

#desc{
    font-size: large;
}

#title{
    font-size: 25px;
    padding-bottom: 2px;
}

#find{
    display: inline-block;
    float: right;
    padding: 25px;
}
#submit,#city-name {
    display: inline-block;

    /* padding: 0%;
    margin: 0%;
    border-radius: 5px; */
    border: 1px solid ;
    background-color: rgb(214, 223, 224);
    min-height: 50px;
    max-height: 100px;
    /* outline: none; */
    
} 

#submit:active{
    width: 55px;
    height: 55px;
}

#city-name{
width: 250px;
font-size: 25px;
position: relative;
}

#submit{
    width: 55px;
    background-color: rgb(46, 145, 103);

}

#error{
    color: rgb(201, 0, 0);
    display: block;
    font-size: 12px;
}
